# API
PORT=3001
DATABASE_URL="postgresql://user:password@ep-example.us-east-1.aws.neon.tech/radial?sslmode=require"
TRACKER_PUBLIC_URL="http://localhost:3001/api/v1"
TRACKER_USER_NAME="Radial API"
TRACKER_USER_EMAIL="radial-api@example.com"

# Shared
TRACKER_API_KEY="dev-tracker-api-key"

# Web
TRACKER_API_BASE_URL="http://localhost:3001/api/v1"
